body{
    font-family: "Lexend", system-ui;
    max-width: 1440px ;
    margin: 0 auto;
}
.navbg{
    background: rgb(249, 247, 243 , 0.9);
}
.modal-01{
    width: 300px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0.1);
    /* border: 1px solid rgba(147, 145, 141, 0.9); */
    border-radius: 1rem;
    background-color: aliceblue;
    transition: all 200ms ease-in-out;
    border: 2px dashed rgba(30, 74, 85, 0.267);
    animation: modal 1s  ease-in-out  infinite;
}
@keyframes modal {
    0%{
        
    }    
    50%{
        box-shadow: 0px 0px 30px rgba(12, 32, 37, 0.267);
    
        
    }  
    0%{
        box-shadow: 0px 0px 0px #3784;
       
    }  
}
.click-modal{
    top: 50%;
    transform: translate(-50% , -50%) scale(1);
}
#history-section{
    padding: 1rem;
    border: 2px solid purple;
    border-radius: 1rem;
}